<h1><%= @game.title %></h1>
<p><%= @game.description %></p>
<pre><%= @game.code %></pre>

<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
<% end %>

<% if current_user %>
  <%= form_for [@user, @game, @comment] do |f| %>
    <%= f.text_area :body %>
    <%= f.submit "Comment"%>
  <% end %>
<% else %>
  <p> you must sign up to comment </p>
<% end %>

<button>Show Comment Options</button>
<% @comments.reverse_each do |comment| %>
  <div>
    <div class="editBox">
      <% if @user == comment.user %>
        <%= form_for [@user, @game, comment] do |f| %>
          <%= f.text_area :body %>
          <%= f.submit %>
        <% end %>
      <% end %>
      <% if @user == comment.user || @user == game.user %>
        <%= link_to 'Destroy',  [@user, @game, comment],
          method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <p><%= comment.body %></p>
</div>
<% end %>
